{{!-- {{#each stations}}
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>
        <h2 class="title">
        <a href="/station/{{_id}}">{{title}}</a></th>
        </h2>
      <th>
        <div class="box has-text-centered">
        	<p class="heading">Min Temp</p>
	        <p class="title">{{summary.minTemp}}°C</p>
        </div><br>
      </th>
      <th>
        <div class="box has-text-centered">
        	<p class="heading">Max Temp</p>
	        <p class="title">{{summary.maxTemp}}°C</p>
        </div><br>
      </th>
    </tr> 
</table>
{{/each}} --}}


{{!-- <table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Station</th>
      <th>Min Temp</th>
      <th>Max Temp</th>
    </tr>
  </thead>
  <tbody>
    {{#each stations}}
      <tr>
        <td>
          <h2 class="title is-5">
            <a href="/station/{{_id}}">{{title}}</a>
          </h2>
        </td>
        <td>
          <div class="has-text-centered">
            <p class="heading">Min Temp</p>
            <p class="title">{{summary.tempMin}}°C</p>
          </div>
        </td>
        <td>
          <div class="has-text-centered">
            <p class="heading">Max Temp</p>
            <p class="title">{{summary.tempMax}}°C</p>
          </div>
        </td>
      </tr>
      <a href="/dashboard/deletestation/{{_id}}" class="button">
    {{>icons/delete}}
  </a>
    {{/each}}
  </tbody>
</table> --}}

<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Station</th>
      <th>Min Temp</th>
      <th>Max Temp</th>
      {{!-- <th>Delete</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each stations}}
      <tr>
        <td>
          <a href="/station/{{_id}}">{{title}}</a>
        </td>
        <td>
          {{#if summary.tempMin}}{{summary.tempMin}}°C{{/if}}
        </td>
        <td>
          {{#if summary.tempMax}}{{summary.tempMax}}°C{{/if}}
        </td>
        <td>
          <a href="/dashboard/deletestation/{{_id}}" class="button">
            {{> icons/delete}}
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>