<table class="table is-fullwidth is-striped is-hoverable">
  <thead>
    <tr>
      <th>Code</th>
      <th>Temperature (°C)</th>
      <th>Wind Speed (km/h)</th>
      <th>Wind Direction</th>
      <th>Pressure (hPa)</th>
    </tr>
  </thead>
  <tbody>
    {{#each reports}}
    <tr>
      <td>{{code}}</td>
      <td>{{temperature}}</td>
      <td>{{windSpeed}}</td>
      <td>{{windDirection}}</td>
      <td>{{pressure}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
