<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Date/Time</th>
      <th>Code</th>
      <th>Temperature (°C)</th>
      <th>Wind Speed (km/h)</th>
      <th>Wind Direction</th>
      <th>Pressure (hPa)</th>
      
    </tr>
  </thead>
  <tbody>
    {{#each reports}}
      <tr>
        <td>{{date}}</td>
        <td>{{code}}</td>
        <td>{{temperature}}</td>
        <td>{{windSpeed}}</td>
        <td>{{windDirection}}</td>
        <td>{{pressure}}</td>
        <td>
          <a href="/station/{{../station._id}}/deletereport/{{_id}}" class="button">
            {{> icons/delete}}
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>