{{!-- {{#each stations}}
<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>
        <h2 class="title">
        <a href="/station/{{_id}}">{{title}}</a></th>
        </h2>
      <th>
        <div class="box has-text-centered">
        	<p class="heading">Min Temp</p>
	        <p class="title">{{summary.minTemp}}째C</p>
        </div><br>
      </th>
      <th>
        <div class="box has-text-centered">
        	<p class="heading">Max Temp</p>
	        <p class="title">{{summary.maxTemp}}째C</p>
        </div><br>
      </th>
    </tr> 
</table>
{{/each}} --}}


<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Station</th>
      <th>Min Temp</th>
      <th>Max Temp</th>
    </tr>
  </thead>
  <tbody>
    {{#each stations}}
      <tr>
        <td>
          <h2 class="title is-5">
            <a href="/station/{{_id}}">{{title}}</a>
          </h2>
        </td>
        <td>
          <div class="has-text-centered">
            <p class="heading">Min Temp</p>
            <p class="title">{{summary.tempMin}}째C</p>
          </div>
        </td>
        <td>
          <div class="has-text-centered">
            <p class="heading">Max Temp</p>
            <p class="title">{{summary.tempMax}}째C</p>
          </div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>

