<table class="table is-fullwidth is-hoverable">
  <thead>
    <tr>
      <th>Station</th>
      <th>Min Temp</th>
      <th>Max Temp</th>
      {{!-- <th>Delete</th> --}}
    </tr>
  </thead>
  <tbody>
    {{#each stations}}
      <tr>
        <td>
          <a href="/station/{{_id}}">{{title}}</a>
        </td>
        <td>
          {{#if summary.tempMin}}{{summary.tempMin}}°C{{/if}}
        </td>
        <td>
          {{#if summary.tempMax}}{{summary.tempMax}}°C{{/if}}
        </td>
        <td>
          <a href="/dashboard/deletestation/{{_id}}" class="button">
            {{> icons/delete}}
          </a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>